<ion-view view-title="Unidade">
        <ion-content>
            <h3>Apontamentos</h3>
            <ion-list show-delete="permitirExcluir">
                <ion-item class="item item-button-right"  ng-repeat="desbravador in desbravadores" ng-click="abirTelaApontamento(desbravador, idUnidade)">
                        {{desbravador.nome}}
                </ion-item>        
            </ion-list>
            <button class="button button-full button-positive" ng-click="funcaoGerarRelatorio()">Relatorio</button>
            <h3>Lista de apontamentos</h3>
            <!--{{apontamento}}-->
            <ion-list>
                <ion-item class="item-button-right" ng-repeat="apt in listaApontamentos ">
                  {{apt.dia | date: 'dd/MM/yyyy'}}
                  |
                  {{apt.dbv.nome}} 
                  <br>
                  Precença: 
                  <i class="icon ion-checkmark-circled balanced" ng-show="{{apt.presenca}}"></i>
                  <i class="icon ion-close-circled assertive" ng-show="{{!apt.presenca}}"></i>   
                  <br/>
                  Tarefas:  
                  <i class="icon ion-checkmark-circled balanced" ng-show="{{apt.tarefas}}"></i>
                  <i class="icon ion-close-circled assertive" ng-show="{{!apt.tarefas}}"></i>   
                  <br/>
                  Material: 
                  <i class="icon ion-checkmark-circled balanced" ng-show="{{apt.material}}"></i>
                  <i class="icon ion-close-circled assertive" ng-show="{{!apt.material}}"></i>   
                  <br/> 
                  Disciplina: 
                  <i class="icon ion-checkmark-circled balanced" ng-show="{{apt.disciplina}}"></i>
                  <i class="icon ion-close-circled assertive" ng-show="{{!apt.disciplina}}"></i>                     
                  <br/>
                  Boa Ação: 
                  <i class="icon ion-checkmark-circled balanced" ng-show="{{apt.boaAcao}}"></i>
                  <i class="icon ion-close-circled assertive" ng-show="{{!apt.boaAcao}}"></i>                     
                  <br/>
                  Biblia: 
                  <i class="icon ion-checkmark-circled balanced" ng-show="{{apt.biblia}}"></i>
                  <i class="icon ion-close-circled assertive" ng-show="{{!apt.biblia}}"></i>                    
                  <br/> 
                  Ano Biblico: 
                  <i class="icon ion-checkmark-circled balanced" ng-show="{{apt.anoBiblico}}"></i>
                  <i class="icon ion-close-circled assertive" ng-show="{{!apt.anoBiblico}}"></i>                     
                  <br/>
                  Mensalidade: 
                  <i class="icon ion-checkmark-circled balanced" ng-show="{{apt.mensalidade}}"></i>
                  <i class="icon ion-close-circled assertive" ng-show="{{!apt.mensalidade}}"></i>                     
                  <br/>
                  <button class="button button-assertive" ng-click="deletarApontamento(apt)">
                    <i class="icon ion-android-close"></i>
                  </button>
                </ion-item>
            </ion-list>  
            <script id="calebe.html" type="text/ng-template">
                <ion-modal-view>
                  <ion-header-bar>
                    <h1 class="title">Apontamentos</h1>
                  </ion-header-bar>
                  <ion-content>
                    <form>
                      <div class="list">
                            <ion-checkbox ng-model="apontamento.presenca">Pontualidade</ion-checkbox>
                            <ion-checkbox ng-model="apontamento.tarefas">Uniforme</ion-checkbox>
                            <ion-checkbox ng-model="apontamento.material">Material</ion-checkbox>
                            <ion-checkbox ng-model="apontamento.disciplina">Disciplina</ion-checkbox>
                            <ion-checkbox ng-model="apontamento.boaAcao">Boa Ação</ion-checkbox>
                            <ion-checkbox ng-model="apontamento.biblia">Biblia</ion-checkbox>
                            <ion-checkbox ng-model="apontamento.anoBiblico">Ano Biblico</ion-checkbox>
                            <ion-checkbox ng-model="apontamento.mensalidade">Mensalidade</ion-checkbox>
                            <label class="item item-input">
                              <input type="date" placeholder="Dia Do Apontamento" ng-model="apontamento.dia">
                            </label>
                              <div class="row">
                                <div class="col col-50">
                                    <button class="button button-assertive button-block" ng-click="fecharTelaApontamento()">
                                        Sair
                                    </button>
                                </div>
                                <div class="col col-50">
                                    <button class="button button-positive button-block" ng-click="salvarApontamento(apontamento)">
                                        Apontar
                                    </button>
                                </div>
                              </div> 
                            </div>
                    </form>
                  </ion-content>
                </ion-modal-view>
              </script>
        </ion-content>
</ion-view>