<ion-view view-title="Principal">
        <ion-content>
          <h2 class="tituloPrincial" style="text-align: center">{{texto}}</h2>
          <div class="row">
            <div class="col col-100 caixa-principal padding"  ng-click="go('/und')">
              <i class="icon ion-ionic"></i>
              <p class="titulo_card_principal">
                 Titulo Principal
              </p>
              <p class="sub_titulo">Sub titulo ad</p>
            </div>
          </div>
          <div class="row">
              <div class="col col-35 caixa evidencia1" ng-click="go('/dbv')">
                <i class="icon ion-person-stalker"></i>
                <p class="titulo_card_principal">
                   Desbravadores
                </p>
                <p class="sub_titulo">Sub titulo ad</p> 
              </div>
              <div class="col col-35 caixa evidencia2"  ng-click="go('/sec')">
                <i class="icon ion-clipboard"></i>
                <p class="titulo_card_principal">
                   Secretaria
                </p>
                <p class="sub_titulo">Sub titulo ad</p>
              </div>
          </div>
          <div class="row">
              <div class="col col-35 caixa evidencia3" ng-click="go('/almocharifado')">
                <i class="icon ion-cube"></i>
                <p class="titulo_card_principal">
                   Almocharifado
                </p>
                <p class="sub_titulo">Sub titulo ad</p>
              </div>
              <div class="col col-35 caixa evidencia4" ng-click="go('/pluges')">
                <i class="icon ion-social-pinterest"></i>
                <p class="titulo_card_principal">
                   Titulo Plugin
                </p>
                <p class="sub_titulo">Sub titulo ad</p>
              </div>
          </div>
        </ion-content>
      </ion-view>